extends layout

block content
  .main
    span Пригласите 7 подруг и получите вторую сумку в подарок
    .main-slider-img
  .main-links
    ul
      mixin link(title, i)
        li(class='main-link link'+i)
          .i
            span= title
          span= title
      mixin patch(title)
        li(class='main-link')
          .i
          p= title
      +link('Свет в сумке', 0)
      +link('Нижнее белье', 1)
      +link('Одежда', 2)
      +patch('Акции, Скидки, Двойные баллы')
      +link('Парфюмерия', 3)
      +link('Защити свою семью', 4)
      +link('Товары для дома', 5)
      +link('Обувь', 6)
      +link('Туризм', 7)
      +link('Недвижимость', 8)
      +patch('Вопросы-ответы')
  .main-region
    span Московский регион
    p Рейтинг "Золотая сотня лидеров"
    table
      thead
        td
        td
        td Баллы
        td Активные эксперты 1й линии
        td Всего экспертов в 1й линии
        td Активные эксперты 2й и 3й линии
        td Всего экспертов 2й и 3й линии
      tr
        td 1
        td 0078
        td 998000
        td 54
        td 54
        td 54
        td 54
      tr
        td 1
        td 0078
        td 998000
        td 54
        td 54
        td 54
        td 54
      tr
        td 1
        td 0078
        td 998000
        td 54
        td 54
        td 54
        td 54
      tr
        td 1
        td 0078
        td 998000
        td 54
        td 54
        td 54
        td 54
      tr
        td 1
        td 0078
        td 998000
        td 54
        td 54
        td 54
        td 54

