doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, shrink-to-fit=no")
        meta(name="format-detection", content="telephone=no")
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css') 
        link(rel='stylesheet', href='/stylesheets/stylesheet.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/media.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')
    body
        header
            .logo
                a(href='/') Бонус Класс
            .menu
                li.item0.active
                        a(href='/') эксперты моды
                li.item1
                    a(href='/') дизайн опрос
                li.item2
                    a(href='/') бонусная программа
            .header-phone
                a(href='/')
                    i.fa.fa-phone
                    span +7 926 111 22 33
            .header-admin
                a(href='/')
                    i.fa.fa-user-circle
                    span Admin
        block content
        footer
            .footer-content
                a(href='/') Бонус Класс
                span © 2018
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js')
            
