extends layout

block content
	.user-list
		table
			td 1
			td 0078
			td 998000
			td 54
			td 54
			td 54
			td 54
		tr
			td 1
			td 0078
			td 998000
			td 54
			td 54
			td 54
			td 54
		tr
			td 1
			td 0078
			td 998000
			td 54
			td 54
			td 54
			td 54
		tr
			td 1
			td 0078
			td 998000
			td 54
			td 54
			td 54
			td 54
		tr
			td 1
			td 0078
			td 998000
			td 54
			td 54
			td 54
			td 54