@font-face {
	font-family: "PlayfairDisplayBold";
	src: url("fonts/PlayfairDisplaySC-Bold.eot");
	src: url("fonts/PlayfairDisplaySC-Bold.eot?#iefix")format("embedded-opentype"),
	url("fonts/PlayfairDisplaySC-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
  }
  
  @font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url('fonts/HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr'), 
	url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), 
	url('fonts/HelveticaNeueCyr-Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }